<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="DistrExLogger" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DistrExLogger"/>
    </root>
  </log4net>
  <system.serviceModel>
    <client>
      <!-- example endpoints -->
      <endpoint name="Executor" address="http://localhost:8000/executor" binding="wsHttpBinding" contract="DistrEx.Communication.Contracts.Service.IExecutor">
      </endpoint>
      <endpoint name="AssemblyManager" address="http://localhost:8000/assemblymanager" binding="basicHttpBinding" contract="DistrEx.Communication.Contracts.Service.IAssemblyManager">
      </endpoint>
    </client>

    <service name="DistrEx.Communication.Service.Executor.ExecutorCallbackService" behaviorConfiguration="ExecutorCallbackBehavior">
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:8001/executorcallback"/>
          <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8001/executorcallback user=yourlocaluser` -->
        </baseAddresses>
      </host>
      <!-- endpoint is exposed at address http://localhost:8001/executorcallback -->
      <endpoint address="" binding="wsHttpBinding" contract="DistrEx.Communication.Contracts.Service.IExecutorCallback"/>
    </service>
  </system.serviceModel>

  <!-- For debugging purposes set the includeExceptionDetailInFaults attribute to true -->
  <behaviors>
    <behavior name="ExecutorCallbackBehavior">
      <serviceMetadata httpGetEnabled="True"/>
      <serviceDebug includeExceptionDetailInFaults="True"/>
    </behavior>
  </behaviors>
  
  <appSettings>
    <!-- DependencyResolver.assembly-path won't be needed; all assemblies are already in the BasePath -->
    <!--<add key="DependencyResolver.assembly-path" value=""/>-->
  </appSettings>
</configuration>