<?xml version="1.0" encoding="utf-8"?>

<!-- this is the config file that NUnit will load for this test assembly -->
<!-- make sure your post-build command copies it to ApplicationBasePath: -->
<!-- copy ..\..\..\DistrEx.Communication.Service.Test.dll.config .\ -->
<configuration>
  <appSettings>
    <!-- path to store incoming assemblies in, before loading (relative to ApplicationBasePath) -->
    <add key="DistrEx.Plugin.assembly-storage-dir" value="transferred" />
    <!-- path to shadow-copy assemblies into, before loading (relative to ApplicationBasePath) -->
    <add key="DistrEx.Plugin.assembly-cache-dir" value="cached" />
  </appSettings>
</configuration>