<?xml version="1.0" encoding="utf-8"?>

<!-- this is the config file that NUnit will load for this test assembly -->
<!-- make sure your post-build command copies it to ApplicationBasePath: -->
<!-- copy ..\..\..\DistrEx.Coordinator.Test.dll.config .\ -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="DistrExLogger" type="log4net.Appender.RollingFileAppender">
      <file value="log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="100KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="DistrExLogger"/>
    </root>
  </log4net>
  <system.serviceModel>
    <client>
      <endpoint name="localhost-executor" address="http://localhost:8000/executor" binding="wsDualHttpBinding"
                contract="DistrEx.Communication.Contracts.Service.IExecutor"
                bindingConfiguration="ExecutorCallbackBinding">
      </endpoint>
      <endpoint name="localhost-assemblyManager" address="http://localhost:8000/assemblymanager"
                binding="basicHttpBinding" contract="DistrEx.Communication.Contracts.Service.IAssemblyManager">
      </endpoint>
    </client>

    <bindings>
      <!-- configure a binding that support duplex communication -->
      <wsDualHttpBinding>
        <!-- binding for transferring instructions results (<=1MiB) (max pool size: 2MiB) -->
        <binding name="ExecutorCallbackBinding" clientBaseAddress="http://localhost:8001/executorcallback"
                 maxReceivedMessageSize="1049000" maxBufferPoolSize="2097000">
          <readerQuotas maxStringContentLength="1049000" />
        </binding>
        <!-- run cmd as admin for permissions `netsh http add urlacl url=http://+:8000/executorcallback user=yourlocaluser` -->
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>

  <appSettings>
    <add key="DistrEx.Coordinator.Test.worker-exe-file" value="..\..\..\..\DistrEx.Worker.Host\bin\AnyCPU\Release\DistrEx.Worker.Host.exe" />
  </appSettings>
</configuration>